{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/teszt_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/teszt_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/teszt_footer.css' %}">

    {# JS-fájlok #}
    <script src="{% static 'js/login.js' %}"></script>

    {# Egyéb #}
    <title>Document</title>

</head>
<body>
    {% include "header_short.html" %}


    {# MAIN #}

    <main>    
        <article>
            {% if validlink %}
                <section>Please enter (and confirm) your new password.</section>
            
                <form method="post" action="">
                    {% csrf_token %}
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                        {{ form.new_password1 }}
                        
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                        {{ form.new_password2 }}
                    <div class="button submitter" type="submit">Jelszó regisztrációja</div>
                </form>
            {% else %}
                <section>
                    <h2>Sikertelen jelszóbeállítás</h2>
                    <p>A jelszót helyreállító link érvénytelen, valószínűleg már felhasználták. <a href="{% url 'password_reset' %}">Új jelszó igénylése.</a></p>
                </section>
            {% endif %}
        </article>
    </main>

    {% include "footer.html" %}
</body>
</html>
