/* HEADER */

header a {
    text-decoration: none;
    color: var(--header-fg-color);
}

header{
    display:flex;
    background-color:var(--header-bg-color);
    color: var(--header-fg-color);
    border-bottom: solid var(--line-width) black;
    padding: 5px 5px;
    /*height:var(--header-height);*/
    align-items: center;
    justify-content: space-between;
    font-size:small;

}

header h1{
    grid-area: cim;
    justify-self: start;

}

header a {
    color: var(--header-fg-color);
    transition: 0.3s;
}

header a:hover {
    color: var(--header-hovered-fg-color);
}

header .logout{
    display: flex;
    align-items: center;
    grid-area: kijelentkezes;
    justify-self: end;
}

nav{
    grid-area: navbar;
}

nav ul{
    display: flex;
    justify-content: start;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    padding:0px 5px;
    text-align: end;}

nav ul li a:hover{
    background-color: var(--header-fg-color);
    color: var(--header-bg-color);
}
