


:root{

    --zold:#8d8741;
    --sarga:#f7e84d;
    --eg:#659dbd;
    --bor:#daad86;
    --fold:#bc986a;
    --vaj:#fbeec1;

    --body-bg-color: var(--vaj);
    --body-fg-color: black;

    --header-bg-color:var(--fold);
    --header-fg-color: black;
    --header-hovered-bg-color:var(--fold);
    --header-hovered-fg-color:var(--vaj) ;
    --header-height:60px;

    --main-bg-color: var(--fold);
    --main-fg-color: black;

    --section-bg-color: var(--vaj);
    --section-fg-color: black;

    --line-color: black;
    --line-width: 2px;

    --footer-bg-color: var(--fold);
    --footer-fg-color: black;
    --footer-height:40px;

    --button-bg-color: white;
    --button-fg-color: black;

    --button-hovered-bg-color: var(--vaj);
    --button-hovered-fg-color: black;

    --kartya-bg-color: var(--fold);
    --kartya-fg-color: black;

    --kartyaform-bg-color: white;
    --kartyaform-fg-color: black;

    --dse-bg-color: var(--sarga);
    --dse-fg-color: black;

    --nevsor-bg-color: white;
    --nevsor-fg-color: black;

}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--body-bg-color);
    color:var(--body-fg-color);
    font-family: 'Roboto Slab', serif;
    margin-bottom: 3em;
}

