{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    {# Egyéb #}
    <title>tesi</title>

    
        
    <script>
        {% for uzi in  backend_uzenetek %}
            alert("{{ uzi }}");
        {% endfor %}        
    </script>

</head>
<body>
    {% include "header.html" %}


    {# MAIN #}

    <main>    
        <nav>
            <a href="{{ domain }}/tesi/valasztas/" class="navgomb">Mind</a>
            <a href="{{ domain }}/tesi/valasztas/nemdse/" class="navgomb">Nem DSE</a>
            <a href="{{ domain }}/tesi/valasztas/dse/" class="navgomb">DSE</a>
            <a href="{{ domain }}/tesi/urlap/kulso/" class="navgomb">Külső egyesület</a>
            <a href="{{ domain }}/tesi/urlap/gyogytestneveles/" class="navgomb">Gyógytestnevelés</a>
            <a href="{{ domain }}/tesi/urlap/felmentes/" class="navgomb">Felmentés</a>
            {% if request.user|has_group:"testnevelotanar" %} 
            <a href="{{ domain }}/tesi/nemjelentkeztek/" class="navgomb">Nem jelentkeztek</a>
            {% endif %}
            {% if request.user|has_group:"adminisztrator" %} 
            <a href="{{ domain }}/admin/" class="navgomb">Adminisztráció</a>
            {% endif %}
        </nav>
    </main>

    {# FOOTER #}

    {% include "footer.html" %}

</body>
</html>