{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/teszt_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/teszt_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/teszt_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/teszt_aside.css' %}">
    <link rel="stylesheet" href="{% static 'css/teszt_footer.css' %}">

    {# JS-fájlok #}
    <script src="{% static 'js/teszt.js' %}"></script>

    {# Egyéb #}
    <title>Document</title>

</head>
<body>


    {# HEADER #}

    <header>
        <h1>
            <a href="index">
                Site name
            </a>
        </h1>

        {# LOG OUT link #}
        <a class="logout" href="log_out">
            Kijelentkezés
        </a>

        {# NAV BAR #}
        <nav>
            <ul>
                <li><a href="elso">elso</a></li>
                <li><a href="masodik">masodik</a></li>
                <li><a href="harmadik">harmadik</a></li>
                <li><a href="negyedik">negyedik</a></li>
                <li><a href="otodik">otodik</a></li>
                <li><a href="hatodik">hatodik</a></li>
                <li><a href="hetedik">hetedik</a></li>
                <li><a href="nyolcadik">nyolcadik</a></li>
            </ul>
        </nav>
    </header>


    {# MAIN #}

    <main>    
        <article>
            <section>
                Első section.
            </section>
            <section>
                Második section.
            </section>
        </article>
    </main>


    {# ASIDE #}

    <aside>
        Ez itt az aside.
    </aside>


    {# FOOTER #}

    <footer>
        Ez a footer
    </footer>

</body>
</html>