{% load static %}
<!DOCTYPE html>
<html lang="hu">
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# google font import -- roboto slab #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    {# favicon.ico #}
    <link rel="shortcut icon" type="image/png" href="{% static 'pic/favicon.ico' %}"/>

    {# CSS-fájlok #}
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/valasztas.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    {# JS-fájlok #}
    <script>
        uzenetek = [
        {% for backend_uzenet in backend_uzenetek %}
            '{{ backend_uzenet }}', 
        {% endfor %}
        ]
    </script>
    <script src="{% static 'js/valasztas.js' %}"></script>

    {# Egyéb #}
    <title>mindennapos testnevelés</title>

</head>
<body>
    <header>
        <h1><a href="/">mindennapos testnevelés</a> : <a href="/valasztas/{{ szurestipus }}/">{{ szurestipus }}</a></h1>
        <a class="logout" href="{{ domain }}/accounts/logout/">kijelentkezés</a>
    </header>
    <main>
            {% for foglalkozas in foglalkozasok %}
                
            <div class="kartya {{ foglalkozas.tipus_kod }}">
                <div class="tipus">
                    <span>
                        {{ foglalkozas.tipus_nev }}
                    </span>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <h2>{{ foglalkozas.nev }}</h2>
                    <div class="nap"> {{ foglalkozas.egyik_nap }}{% if foglalkozas.bomlik %} és {{ foglalkozas.masik_nap }}{% endif %}</div>
                    <div class="intervallum">{{ foglalkozas.egyik_mettol }} - {{ foglalkozas.egyik_meddig }}{% if foglalkozas.bomlik %} és {{ foglalkozas.masik_mettol }} - {{ foglalkozas.masik_meddig }}{% endif %}</div>
                    <div class="tanar">{{ foglalkozas.egyik_tanar }}{% if foglalkozas.bomlik and foglalkozas.egyik_tanar != foglalkozas.masik_tanar %} és {{ foglalkozas.masik_tanar }}{% endif %}</div>

                    {% if foglalkozas.id == korabban_valasztott_foglalkozas_id %}
                        <div class="gomb kattinthato lejelentkezes">Lejelentkezem</div>
                    {% elif foglalkozas.aktletszam >= foglalkozas.maxletszam %}
                        <div class="nemgomb">(Megtelt)</div>
                    {% elif korabban_valasztott_foglalkozas_id != 'nincs'%}
                        <div class="gomb kattinthato atjelentkezes">Átjelentkezem</div>
                    {% else %}
                        <div class="gomb kattinthato jelentkezes">Jelentkezem</div>
                    {% endif %}

                    <input type="hidden" name="melyiket" value="{{ foglalkozas.id }}">
                    <input type="hidden" name="mitcsinal" value="meg_semmit">
                    <a class="letszam kattinthato" href="http://{{ request.get_host }}/nevsor/{{ foglalkozas.kod }}/" >{{ foglalkozas.aktletszam }}/{{ foglalkozas.maxletszam }}</a>
                </form>
            </div>

            {% endfor %}
    </main>

    {# FOOTER #}

    {% include "footer.html" %}

</body>
</html>